*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
section{
    height: 100vh;
    width: 100%;
    background-image: url("colourful.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    animation: section 5s linear infinite; 
}

@keyframes section {
    0%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}
span{
    position: absolute;
    height: 4px;
    width: 4px;
    top: 50%;
    left: 50%;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: 1px 1px 2px 1px rgb(201, 201, 201);
    animation: span 5s linear infinite;
}
span::before
{
    position: absolute;
    content: '';
    top: 50%;
    width: 250px;
    height: 1px;
    background: linear-gradient( 90deg, white,transparent); 
}
@keyframes span 
{
    0%{
        transform: rotate(320deg) translateX(500px);
        opacity: 0;
        /* change the value of Rotation Degree like (0, 90, 180, 270deg) 
        then you can understand why the Rotate value is 320deg */
    }
    50%{
        opacity: 1;
    }
    /* 70%{
        opacity: 1;
        transform: rotate(320deg) translateX(-1000px);
    } */
    100%{
        transform: rotate(320deg) translateX(-1000px);
        opacity: 1;
    }
}
span:nth-child(1)
{
    left: 660px;
    animation-duration: 1s;
    animation-delay: 3.1s;
}
span:nth-child(2)
{
    left: 590px;
    animation-duration: 3.6s;
    animation-delay: 1.4s;
}
span:nth-child(3)
{
    left: 520px;
    animation-duration: 2s;
    animation-delay: 3.2s;
}
span:nth-child(4)
{
    left: 840px;
    animation-duration: 3.3s;
    animation-delay: 1.3s;
}
span:nth-child(5)
{
    left: 150px;
    animation-duration: 2.9s;
    animation-delay: 1.3s;
}
span:nth-child(6)
{
    left: 200px;
    animation-duration: 2.4s;
    animation-delay: 2.3s;
}
span:nth-child(7)
{
    left: 170px;
    animation-duration: 2.5s;
    animation-delay: 2.3s;
}
span:nth-child(8)
{
    left: 890px;
    animation-duration: 4.1s;
    animation-delay: 2.3s;
}
span:nth-child(9)
{
    left: 210px;
    animation-duration: 2s;
    animation-delay: 1.3s;
}
span:nth-child(10)
{
    left: 730px;
    animation-duration: 3s;
    animation-delay: 1.3s;
}
span:nth-child(11)
{
    left: 850px;
    animation-duration: 4s;
    animation-delay: 3.1s;
}
span:nth-child(12)
{
    left: 680px;
    animation-duration: 3.5s;
    animation-delay: 3.3s;
}
span:nth-child(13)
{
    left: 900px;
    animation-duration: 4.6s;
    animation-delay: 3.2s;
}
span:nth-child(14)
{
    left: 600px;
    animation-duration: 2.6s;
    animation-delay: 3.0s;
}
span:nth-child(15)
{
    left: 500px;
    animation-duration: 3.3s;
    animation-delay: 3.1s;
}
span:nth-child(16)
{
    left: 370px;
    animation-duration: 4.3s;
    animation-delay: 3.7s;
}


span:nth-child(17)
{
    left: 160px;
    animation-duration: 1s;
    animation-delay: 3.9s;
}
span:nth-child(18)
{
    left: 190px;
    animation-duration: 4.6s;
    animation-delay: 4.6s;
}
span:nth-child(19)
{
    left: 290px;
    animation-duration: 2s;
    animation-delay: 3.2s;
}
span:nth-child(20)
{
    left: 300px;
    animation-duration: 3.3s;
    animation-delay: 1.3s;
}
span:nth-child(21)
{
    left: 350px;
    animation-duration: 2.9s;
    animation-delay: 3.3s;
}
span:nth-child(22)
{
    left: 400px;
    animation-duration: 4s;
    animation-delay: 1.3s;
}
span:nth-child(23)
{
    left: 980px;
    animation-duration: 4.5s;
    animation-delay: 3.3s;
}
span:nth-child(24)
{
    left: 1090px;
    animation-duration: 1s;
    animation-delay: 8.3s;
}
span:nth-child(25)
{
    left: 1110px;
    animation-duration: 2s;
    animation-delay: 5.3s;
}
span:nth-child(26)
{
    left: 1230px;
    animation-duration: 3s;
    animation-delay: 8.3s;
}
span:nth-child(27)
{
    left: 1350px;
    animation-duration: 4s;
    animation-delay: 3.3s;
}
span:nth-child(28)
{
    left: 1480px;
    animation-duration: 5s;
    animation-delay: 1.3s;
}
span:nth-child(29)
{
    left: 1550px;
    animation-duration: 6.6s;
    animation-delay: 4.3s;
}
span:nth-child(30)
{
    left: 1920px;
    animation-duration: 3.6s;
    animation-delay: 6.3s;
}
span:nth-child(31)
{
    left: 1900px;
    animation-duration: 3.3s;
    animation-delay: 3.1s;
}
span:nth-child(32)
{
    left: 1670px;
    animation-duration: 4.3s;
    animation-delay: 1.3s;
}
span:nth-child(33)
{
    left: 60px;
    animation-duration: 1s;
    animation-delay: 1.3s;
}
span:nth-child(34)
{
    left: 90px;
    animation-duration: 4.6s;
    animation-delay: 2.4s;
}
span:nth-child(35)
{
    left: 520px;
    animation-duration: 2s;
    animation-delay: 1.2s;
}
span:nth-child(36)
{
    left: 120px;
    animation-duration: 3.3s;
    animation-delay: 3.9s;
}
span:nth-child(37)
{
    left: -50px;
    animation-duration: 2.9s;
    animation-delay: 3.4s;
}
span:nth-child(38)
{
    left: -90px;
    animation-duration: 4s;
    animation-delay: 3.3s;
}
span:nth-child(39)
{
    left: -30px;
    animation-duration: 4.5s;
    animation-delay: 2.3s;
}
span:nth-child(40)
{
    left: -160px;
    animation-duration: 1s;
    animation-delay: 6.3s;
}
span:nth-child(41)
{
    left: -210px;
    animation-duration: 2s;
    animation-delay: 5.3s;
}
span:nth-child(42)
{
    left: -10px;
    animation-duration: 3s;
    animation-delay: 4.3s;
}
span:nth-child(43)
{
    left: 2150px;
    animation-duration: 4s;
    animation-delay: 3.9s;
}
span:nth-child(44)
{
    left: 2080px;
    animation-duration: 2.5s;
    animation-delay: 3.3s;
}
span:nth-child(45)
{
    left: 1890px;
    animation-duration: 4.6s;
    animation-delay: 2.3s;
}
span:nth-child(46)
{
    left: 1730px;
    animation-duration: 4.6s;
    animation-delay: 1.3s;
}
span:nth-child(47)
{
    left: 1670px;
    animation-duration: 3.3s;
    animation-delay: 2s;
}
span:nth-child(48)
{
    left: 1880px;
    animation-duration: 4.3s;
    animation-delay: 1s;
}